input[disabled] {
    background-color: lightgrey;
}

input[type="range"] {
    height: 32px;
}

button {
    border-radius: 5px;
    width: max-content;
    padding: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 1.75rem;
    background-color: black;
    color: white;
    border: none;
}