input[disabled] {
    background-color: lightgrey;
}

input[type="range"] {
    height: 32px;
}

button {
    border-radius: 5px;
    width: max-content;
    padding: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 1.5rem;
    background-color: rgb(100, 40, 40);
    color: rgb(224,255,224);
    border: none;
}